﻿@{
    if (ViewBag.noBar != null)
    {
        Layout = "~/Views/Shared/_MobileLayout.cshtml";
    }
}

<div class="row panel panel-default main-body" id="mainBody">
    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <h4>Frequently Asked Questions</h4>
        </div>
    </div>

    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <h4>What is Meet Me In The Middle?</h4>
        </div>
        <div class="col-xs-12 panel-body">
            Meet Me In The Middle is a tool to help idividuals to find a meeting point in between their various locations.  Be it food, coffee, or just a place to have a conversation, our tool is there to help.
        </div>
    </div>

    @*<div class="row panel panel-default">
            <div class="col-xs-12 panel-heading">
                Our Team
            </div>
            <div class="col-xs-12 panel-body">

            </div>
        </div>*@
    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <h4>Privacy Policy</h4>
        </div>
        <div class="col-xs-12 panel-body">
            We promise not to sell, distribute, or make available any personal infromation collected via our site. (e.g. Your Location, Email, and/or Phone Numbers.)
            <br />
            For a full statement please view our <a href="/Home/PrivacyPolicy">Privacy Policy</a>.
        </div>
    </div>

    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <h4>How Can I Help?</h4>
        </div>
        <div class="col-xs-12 panel-body">
            While we test and improve Meet Me In The Middle you can contact us at <a href="mailto:meetmeinthemiddleteam@gmail.com?subject=Feedback And Questions">meetmeinthemiddleteam@gmail.com</a>
        </div>
    </div>

    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <h4>Donate</h4>
        </div>
        <div class="col-xs-12 panel-body">
            Want to help us keep the lights on? Send us a buck with Paypal:
            <br />
            <br />
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="W6FLWHR2AK988">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</div>
