﻿@model string

@using (Html.BeginForm("SendEmailsAndPhoneNumbers", "Home", new { @class = "values-masked" }))
{
    Session["PersonCount"] = Session["PersonCount"] ?? 3;
    <div class="row panel panel-default">
        @for (int i = 0; i < (int)Session["PersonCount"]; i++)
        {
            <div class="col-xs-12 panel-body">
                <span class="form-span">Enter Email / Phone Number for Person @(i + 1)</span>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><span class="fa fa-envelope"></span> / <span class="fa fa-phone"></span></span>
                    <input id="ContactData" name="ContactData" class="form-control ContactData" />
                </div>
            </div>
        }
    </div>

    <div class="row panel panel-default">
        <div class="col-xs-12 panel-body">
            <span class="form-span">Enter Message</span>
            <textarea id="Message" name="Message" maxlength="140" class="form-control">Hey All, want to meet at @Model</textarea>
        </div>
    </div>

    <div class="row panel panel-default">
        <div class="col-xs-5 panel-body">
            <label>Step 4 of 4</label>
        </div>
        <div class="col-xs-7 panel-body">
            <div class="pull-right">
                @*<button type="submit" disabled class="btn" id="previous">Prev</button>*@
                <button type="submit" disabled class="btn btn-primary continue">Next</button>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>
        $(".ContactData").keypress(function (event) {
            if (($(this).length == 1 || $(this).length == 0) && event.which > 47 && event.which < 58) {
                $(this).mask('+0 (000) 000 0000', { clearIfNotMatch: true });
            }
            else {
                $(".ContactData").unmask();
            }
        });

        $(".ContactData").keyup(function () {
            var empty = $("input").filter(function () {
                return this.value === "";
            });

            if (empty.length == 0) {
                $(".continue").prop("disabled", false);
            }
            else {
                $(".continue").prop("disabled", true);
            }
        });

        $(".ContactData").change(function () {
            var empty = $("input").filter(function () {
                return this.value === "";
            });

            if (empty.length == 0) {
                $(".continue").prop("disabled", false);
            }
            else {
                $(".continue").prop("disabled", true);
            }
        });

        $("form").submit(function (e) {
            if ($(this).hasClass('values-masked')) {
                loadingScreenStart();
                e.preventDefault();
                $("input").unmask();
                $(this).removeClass("values-masked");
                $(this).submit();
            }
        });
    </script>
}