﻿@{
    ViewBag.Title = "Home Page";
}
@using Models;
@using Humanizer;
@model GeoLocation[]

@if (Request.IsAuthenticated)
{
    @Html.Partial("_AddressBook", Session["user"]);
}

<div class="row panel panel-default main-body" id="mainBody">
    <div class="row panel panel-default">
        <div class="col-xs-12 panel-body">
            <div class="input-group input-group-lg">
                <span class="form-span">Select the Number of People</span>
                <select id="people_amount" class="form-control" placeholder="Choose the Amount of People">
                    <option>--</option>
                    @for (int i = 1; i < Model.Length; i++)
                    {
                        <option>@(i + 1)</option>
                    }
                </select>
            </div>
        </div>
    </div>

    @for (int i = 0; i < Model.Length; i += 2)
    {
        <div class="row panel panel-default dynamic-container hidden">
            <div class="col-sm-6 panel-body dynamic-container hidden">
                <div class="row">
                    <div class="col-sm-8">
                        <span class="form-span titlecase">Enter @(i == 0 ? "Your" : i.ToOrdinalWords() + " Person's") Address</span>
                        @if (i == 0)
                        {
                            <div class="visible-sm textLine">
                            </div>
                        }
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="col-sm-4">
                            <a href="#" data-toggle="modal" data-target="#addressBookDiv" class="pull-right hidden-xs largespacer addressBook">Address Book</a>
                            <a href="#" data-toggle="modal" data-target="#addressBookDiv" class="visible-xs addressBook">Address Book</a>
                        </div>
                    }
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                    <input class="autocomplete form-control" id="Person@(i)" type="text" />
                </div>
            </div>
            <div class="col-sm-6 panel-body dynamic-container hidden">
                <div class="row">
                    <div class="col-sm-8">
                        <span class="form-span titlecase">Enter @((i + 1).ToOrdinalWords()) Person's Address</span>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="col-sm-4">
                            <a href="#" data-toggle="modal" data-target="#addressBookDiv" class="pull-right hidden-xs largespacer addressBook">Address Book</a>
                            <a href="#" data-toggle="modal" data-target="#addressBookDiv" class="visible-xs addressBook">Address Book</a>
                        </div>
                    }
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                    <input class="autocomplete form-control" id="Person@(i+1)" type="text" />
                </div>
            </div>
        </div>
    }

    @using (Ajax.BeginForm("GetTriangulationBox", "Home", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "mainBody",
        InsertionMode = InsertionMode.Replace,
        OnBegin = "loadingScreenStart()",
        OnComplete = "loadingScreenStop()"
    }))
    {
        <div class="hidden">
            @Html.EditorFor(x => x)
        </div>
        <div class="visible-xs bottom-spacer">
        </div>
        <div class="row panel panel-default hidden-xs">
            <div class="col-xs-5 panel-body">
                <label>Step 1 of 4</label>
            </div>
            <div class="col-xs-7 panel-body">
                <div class="pull-right">
                    @*<button type="submit" disabled class="btn" id="previous">Prev</button>*@
                    <button type="submit" disabled class="btn btn-primary continue">Next</button>
                </div>
            </div>
        </div>
        <div class="row panel panel-default footer navbar-fixed-bottom visible-xs">
            <div class="col-xs-1 panel-body"></div>
            <div class="col-xs-4 panel-body">
                <label>Step 1 of 4</label>
            </div>
            <div class="col-xs-6 panel-body">
                <div class="pull-right">
                    @*<button type="submit" disabled class="btn" id="previous">Prev</button>*@
                    <button type="submit" disabled class="btn btn-primary continue">Next</button>
                </div>
            </div>
            <div class="col-xs-1 panel-body"></div>
        </div>
    }
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var autocomplete;

        function initAutocomplete() {
            $("input:not(.noBlank)").val("");
            $('[name*="Latitude"]').prop("disabled", true);
            $('[name*="Longitude"]').prop("disabled", true);
            $(".continue").prop("disabled", true);
            $("select").val("--");

            $('.autocomplete').each(function () {
                var textbox = $(this);
                autocomplete = new google.maps.places.Autocomplete((this), { types: ['geocode'] });
                autocomplete.addListener('place_changed', function () {
                    var strings = this.getPlace().geometry.location.toString().replace("(", "").replace(")", "").split(", ")
                    var idVal = textbox.attr('id').replace("Person", "");
                    $('[name="[' + idVal + '].Latitude"]').val(strings[0]);
                    $('[name="[' + idVal + '].Latitude"]').prop("disabled", false);
                    $('[name="[' + idVal + '].Longitude"]').val(strings[1]);
                    $('[name="[' + idVal + '].Longitude"]').prop("disabled", false);

                    if ($('[name*="Latitude"]:enabled').length == parseInt($("#people_amount").val())) {
                        $(".continue").prop("disabled", false)
                    }
                });
            });
        }

        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

        var peopleCountPrev = 1;

        $("#people_amount").change(function () {
            $(".dynamic-container:not(.hidden)").addClass("hidden");
            var count = parseInt($("#people_amount").val());

            for (var i = 0; i < count; i++) {
                $("#Person" + i).closest(".dynamic-container").removeClass("hidden");
                $("#Person" + i).closest(".dynamic-container").parent().removeClass("hidden")
            }

            $('[name*="tude"]:enabled').each(function () {
                if ($(this).val() != "" && $(this).val() != null && $(this).val() != undefined) {
                    var i = $(this).attr("name").replace(/\D/g, '');
                    if ($("#Person" + i).closest(".dynamic-container").is(":hidden")) {
                        $(this).prop('disabled', true);
                        $(this).val("");
                        $("#Person" + i).val("");
                    }
                }
                else {
                    $(this).prop('disabled', true);
                }
            });

            if ((parseInt($(this).val()) > peopleCountPrev)) {
                $(".continue").prop("disabled", true);
            }

            if ($(this).val() != "--")
                peopleCountPrev = parseInt($(this).val())
            else {
                $(".continue").prop("disabled", true);
                peopleCountPrev = 1;
            }
        });

        $(".addressBook").click(function (e) {
            e.preventDefault();

            $(".selectedAddress").removeClass("selectedAddress");
            $(".selectedLatitude").removeClass("selectedLatitude");
            $(".selectedLongitude").removeClass("selectedLongitude");

            var addressInput = $(this).closest(".dynamic-container").find(".autocomplete");
            addressInput.addClass("selectedAddress");
            var idVal = addressInput.attr('id').replace("Person", "");
            $('[name="[' + idVal + '].Latitude"]').addClass("selectedLatitude");
            $('[name="[' + idVal + '].Longitude"]').addClass("selectedLongitude");
        });

        $(".selectAddressBookEntry").click(function () {
            $(".selectedLatitude").prop("disabled", false);
            $(".selectedLongitude").prop("disabled", false);

            $(".selectedAddress").val($(this).parent().find(".address").val());
            $(".selectedLatitude").val($(this).parent().find(".latitude").val());
            $(".selectedLongitude").val($(this).parent().find(".longitude").val());

            if ($('[name*="Latitude"]:enabled').length == parseInt($("#people_amount").val())) {
                $(".continue").prop("disabled", false)
            }
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvTVSIffUgOOoGFG7RsGS09KykjGx44QU&libraries=places&callback=initAutocomplete"></script>
}
