﻿@model MeetMeInTheMiddleWeb.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() != 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                            @if (p.AuthenticationType.Contains("oogle"))
                            {
                                <i class='fa fa-google'></i>
                            }
                            else
                            {
                                <i class='fa fa-facebook-square'></i>
                            }
                            @p.AuthenticationType
                        </button>
                    }
                </p>
            </div>
        }
    }
}
