﻿@using MeetMeInTheMiddleWeb.Models
@model FriendsList

@if (ViewBag.friendFound != null)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>No user with that information was found, please check your spelling.</strong>
    </div>
}
else if (ViewBag.addSelf != null)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>You cannot add yourself as a friend. (We know you want to, but no.)</strong>
    </div>
}
else if (ViewBag.friendExists != null)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>You already have this user as a friend.</strong>
    </div>
}

<div class="row panel panel-default main-body" id="mainBody">
    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <h4>Friends List</h4>
        </div>
        <div class="col-xs-12 panel-body">
            @if (Model.ConfirmedFriends.Count == 0 && Model.PendingFriendsSent.Count == 0 && Model.PendingFriendsReceived.Count == 0)
            {
                <label class="control-label no-margin ">No Friends Found</label>
            }
            else
            {
                if (Model.ConfirmedFriends.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(x => x.ConfirmedFriends)
                        </tbody>
                    </table>
                }
                if (Model.PendingFriendsSent.Count > 0)
                {
                    ViewBag.Sent = true;
                    <h4 class="page-header">Pending Invitations Sent</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(x => x.PendingFriendsSent)
                        </tbody>
                    </table>
                }
                if (Model.PendingFriendsReceived.Count > 0)
                {
                    ViewBag.Sent = false;
                    <h4 class="page-header">Pending Invitations Received</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(x => x.PendingFriendsReceived)
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>

    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <a href="#newFriendCollapse" data-toggle="collapse"><h4><i class="fa fa-plus-square"></i> Add Friends</h4></a>
        </div>
        <div class="col-xs-12 panel-body collapse" id="newFriendCollapse">
            <div class="row">
                <div class="col-sm-6">
                    <form action="/Account/AddFriendByEmail" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label" for="email">Add by Email</label>
                            <br />
                            @Html.ValidationMessage("email")
                            <input id="email" class="form-control" data-val="true" data-val-required="You must enter an Email to add a friend." type="text" name="email" />
                        </div>
                        <button class="btn btn-primary continue" type="submit"><i class="fa fa-plus"></i> Add Friend</button>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form action="/Account/AddFriendByUserName" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label" for="userName">Add by User Name</label>
                            <br />
                            @Html.ValidationMessage("userName")
                            <input id="userName" data-val="true" data-val-required="You must enter an User Name to add a friend." class="form-control" type="text" name="userName" />
                        </div>
                        <button class="btn btn-primary continue" type="submit"><i class="fa fa-plus"></i> Add Friend</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#newFriendCollapse').on('shown.bs.collapse', function () {
            $(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
        });

        $('#newFriendCollapse').on('hidden.bs.collapse', function () {
            $(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
        });
    </script>
}