﻿@using MeetMeInTheMiddleWeb.Models
@model ApplicationUser
<div class="row panel panel-default main-body" id="mainBody">
    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <h4>@Model.FirstName @Model.LastName's Profile</h4>
        </div>
        <div class="col-xs-12 panel-body">
            <div class="row">
                <div class="form-group col-sm-4">
                    <div class="row">
                        <label class="control-label col-xs-12" for="UserName">User Name</label>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="row">
                        <label class="control-label col-xs-12" for="PhoneNumber">Phone Number</label>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="row">
                        <label class="control-label col-xs-12" for="Email">Email</label>
                        <div class="col-xs-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <a class="pull-right" href="/Account/EditProfile"><i class="fa fa-edit"></i> Edit Profile</a>
                </div>
                <div class="form-group col-xs-12">
                    <h4>Addresses</h4>
                    @if (Model.Addresses == null || Model.Addresses.Count == 0)
                    {
                        <label class="control-label no-margin">No Address Found</label>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Location Name</th>
                                    <th>Location Address</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.EditorFor(x => x.Addresses)
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <a href="#newAddressCollapse" data-toggle="collapse"><h4><i class="fa fa-plus-square"></i> New Address</h4></a>
        </div>
        <div class="col-xs-12 panel-body collapse" id="newAddressCollapse">
            <form action="/Account/AddAddress" id="addAddressForm" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="control-label" for="Name">Location Name</label>
                    <br />
                    @Html.ValidationMessage("Name")
                    <input id="Name" class="form-control" data-val="true" data-val-required="You must enter a Name for the Location." type="text" name="Name" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Location">Location Address</label>
                    <input id="Location" class="form-control autocomplete" data-val="true" type="text" name="Location" onFocus="geolocate()" />
                </div>
                <input id="Latitude" type="hidden" name="Latitude" disabled />
                <input id="Longitude" type="hidden" name="Longitude" disabled />
                <button class="btn btn-primary continue" type="submit"><i class="fa fa-plus"></i> Add Address</button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var autocomplete;

        function initAutocomplete() {
            $("#addAddressForm input:not([name=__RequestVerificationToken])").val("");
            $(".continue").prop("disabled", true);

            $('.autocomplete').each(function () {
                var textbox = $(this);
                autocomplete = new google.maps.places.Autocomplete((this), { types: ['geocode'] });
                autocomplete.addListener('place_changed', function () {
                    var strings = this.getPlace().geometry.location.toString().replace("(", "").replace(")", "").split(", ")
                    $('#Latitude').val(strings[0]);
                    $('#Latitude').prop("disabled", false);
                    $('#Longitude').val(strings[1]);
                    $('#Longitude').prop("disabled", false);

                    $(".continue").prop("disabled", false)
                });
            });
        }

        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

        $('#newAddressCollapse').on('shown.bs.collapse', function () {
            $(".fa-plus-square").removeClass("fa-plus-square").addClass("fa-minus-square");
        });

        $('#newAddressCollapse').on('hidden.bs.collapse', function () {
            $(".fa-minus-square").removeClass("fa-minus-square").addClass("fa-plus-square");
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvTVSIffUgOOoGFG7RsGS09KykjGx44QU&libraries=places&callback=initAutocomplete"></script>
}