﻿@{
    ViewBag.Title = "404";
}
@model string

<div class="row panel panel-default main-body" id="mainBody">
    <div class="row panel panel-default">
        <div class="col-xs-12 panel-heading">
            <img class="pull-right" src="~/Content/Images/Lost.png" />
            <h2 class="pull-left">Page Not Found: Error 404</h2>            
        </div>
        <div class="col-xs-12 panel-body">
            We're sorry but the page you've attempted to reach, @Model, is unavailable, if you believe you have encountered this message due to an error please feel free to contact us at:
            <br />
            <br />
            <a href="mailto:meetmeinthemiddleteam@gmail.com?subject=Errors">meetmeinthemiddleteam@gmail.com</a>
        </div>
    </div>
</div>