﻿@using MeetMeInTheMiddleWeb.Models
@model Address

<tr>
    <th scope="row">@Model.Name</th>
    <td>@Model.Location</td>
    <td>
        <form method="post" action="/Account/DeleteAddress">
            @Html.AntiForgeryToken()
            <input type="hidden" value="@Model.AddressId" name="addressId" id="addressId" />
            <button class="pull-right" type="submit"><i class="fa fa-trash"></i> Delete</button>
        </form>
    </td>
</tr>