﻿@using MeetMeInTheMiddleWeb.Models
@model ApplicationUser

<div class="modal fade" tabindex="-1" role="dialog" id="addressBookDiv" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Address Book</h4>
            </div>
            <div class="modal-body">
                @if (Model.Addresses.Count > 0)
                {
                    <div>
                        <h4>Your Addresses</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var address in Model.Addresses)
                                {
                                    <tr>
                                        <th>
                                            @address.Name
                                        </th>
                                        <td>
                                            @address.Location
                                        </td>
                                        <td>
                                            <button data-toggle="modal" data-target="#addressBookDiv" class="btn btn-primary selectAddressBookEntry">Select</button>
                                            <input type="hidden" disabled value="@address.Location" class="address noBlank" />
                                            <input disabled type="hidden" class="latitude noBlank" value="@address.Latitude" />
                                            <input disabled type="hidden" class="longitude noBlank" value="@address.Longitude" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                @foreach (var friend in Model.Friends.Where(x => x.FriendUser.Addresses.Count > 0 && x.Confirmed).Select(x => x.FriendUser))
                {
                    <div>
                        <h4>@friend.FirstName @friend.LastName's Addresses</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var address in friend.Addresses)
                                {

                                    <tr>
                                        <th>
                                            @address.Name
                                        </th>
                                        <td>
                                            @address.Location
                                        </td>
                                        <td>
                                            <button data-toggle="modal" data-target="#addressBookDiv" class="btn btn-primary selectAddressBookEntry">Select</button>
                                            <input type="hidden" disabled value="@address.Location" class="address noBlank" />
                                            <input disabled type="hidden" class="latitude noBlank" value="@address.Latitude" />
                                            <input disabled type="hidden" class="longitude noBlank" value="@address.Longitude" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>