﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Meet Me In The Middle is a tool to allow users to find a meet up point in the middle of everyone involved." />
    <meta name="keywords" content="food,meetup,meet me in the middle,coffee,search food,suggest food,find food" />
    <link rel=”shortcut icon” href=”/favicon.ico” type=”image/x-icon” />
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Meet Me In The Middle</title>
    @Styles.Render("~/Content/css")
    <script src="https://use.fontawesome.com/0c098dc563.js"></script>    
    <link href="~/Content/mobileSite.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/MobileBootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
