﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 45px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 460px;
}

textarea {
    max-width: 540px;
}

.profile-header-img {
    margin: 10px 0;
    height: 60px;
}

.panel-heading img {
    height: 80px;
}


.sidebar-collapse {
    margin-left: -250px;
    top: 83px;
    left: 250px;
    width: 250px;
    background: #101010;
    position: fixed;
    overflow-y: hidden;
    z-index: 1000;
    height: 130px;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.form-span {
    font-size: 18px;
}

.titlecase {
    text-transform: capitalize;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .sidebar-nav li {
        line-height: 40px;
        text-indent: 20px;
    }

        .sidebar-nav li a {
            color: #999999;
            display: block;
            text-decoration: none;
            padding-left: 60px;
        }

            .sidebar-nav li a:hover {
                color: white;
            }

            .sidebar-nav li a span:before {
                position: absolute;
                left: 0;
                text-align: center;
                width: 20px;
                line-height: 18px;
            }

            .sidebar-nav li a:hover,
            .sidebar-nav li.active {
                color: #fff;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

.navbar-toggle {
    display: block;
    margin: 20px 0;
}

    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 8px;
    }

.panel-bottomborder:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.panel-body label {
    margin-top: 10px;
}

.form-group label {
    margin-top: 0;
}

.navbar-fixed-bottom .panel-body {
    padding-left: 0;
    padding-right: 0;
}

    .navbar-fixed-bottom .panel-body:not(.col-xs-5) label {
        margin-top: 20px;
    }

.yelp-icon {
    margin: 10px 0;
    float: right;
}

.yelp-result.selected {
    border: 4px solid #4383BA;
}

.yelp-result a {
    color: black;
    text-decoration: underline;
}

h4 a {
    color: black;
}

    h4 a:hover {
        color: #807c7c;
        text-decoration: none;
    }

.relative-parent {
    position: relative;
}

.absolute-bottom-left {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.absolute-bottom-right {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.absolute-top-left {
    position: absolute;
    top: 15px;
    left: 15px;
}

.absolute-top-right {
    position: absolute;
    top: 15px;
    right: 15px;
}

.full-right {
    float: right;
    text-align: right;
}

.main-body {
    margin: 0 15px;
    border-top: 0;
}

.yelp-icon-container {
    padding-left: 0;
}

select {
    border-radius: 6px !important;
}

.ck-button {
    text-align: center;
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;
}

    .ck-button.checked {
        background-color: forestgreen;
        color: white;
    }

    .ck-button:hover, .ck-button label:hover {
        cursor: pointer;
    }

    .ck-button:not(.checked):hover, .ck-button:not(.checked) label:hover {
        background-color: #e6e6e6;
    }

    .ck-button.checked:hover, .ck-button.label checked:hover {
        background-color: #4ea24e;
    }

    .ck-button input {
        display: none;
    }

    .ck-button label {
        margin: 0;
        padding: 5px 0;
    }

        .ck-button label span {
            padding: 0 10px;
        }

        .ck-button label i {
            padding: 0 2px;
        }

label .Categories + span {
    margin-left: 8px;
    font-size: 16px;
}

.Categories {
    margin-left: 15px !important;
}

.panel-body textarea {
    resize: none;
    height: 100px;
    width: 100%;
}

.container h3 {
    color: white;
}

.bottom-spacer {
    height: 72px;
    width: 100%;
    clear: both;
}

.small-spacer {
    height: 15px;
    width: 100%;
    clear: both;
}

.control-label {
    text-align: left !important;
}

.space-left {
    margin-left: 15px;
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
    font-weight: 700;
}

    .validation-summary-errors ul:before {
        content: "Please fix the following errors:";
    }

    .validation-summary-errors ul li {
        padding: 0;
        margin: 0;
    }

.input-validation-error {
    background-color: rgba(255, 0, 0, 0.23);
    border-color: #791414;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: 0;
}

.no-pad {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.textLine {
    height: 26px;
}

@media (max-width: 768px) {
    .spacer {
        display: none;
    }
}

@media (min-width: 1200px) {
    .largespacer {
        margin-right: 35px;
    }
}

@media (max-width: 480px) {
    .yelp-icon {
        width: 100%;
    }

    .profile-header-img {
        height: 45px;
    }

    .navbar-toggle {
        margin: 10px 0;
    }

    .ck-button {
        font-size: 11px;
    }

        .ck-button label {
            padding: 1px 0;
        }

            .ck-button label span {
                padding: 0 3px;
            }

    label .Categories + span {
        font-size: 14px;
    }

    .panel-bottomborder {
        padding: 5px 0;
    }

    .panel-body:not(.col-xs-7):nth-child(2n) {
        padding-top: 0;
    }

    .panel-body textarea {
        width: 100%;
    }

    .form-span {
        font-size: 16px;
    }

    .input-group-lg > .form-control,
    .input-group-lg > .input-group-addon,
    .input-group-lg > .input-group-btn > .btn {
        height: 35px;
        padding: 0 10px;
        font-size: 14px;
    }

    .sidebar-collapse {
        top: 66px;
    }
}
